<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
<h1>AQHI</h1>

<div class="container authenticated">
    <p> Logged in as: <span id="userName" th:text="${user.name}"> </span></p>
</div>


<div th:if="${ not#lists.isEmpty(locations)}">
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th colspan="2"> Favourite</th>
        </tr>
        <tr th:each="location : ${locations}">
            <td th:text="${location.id}"></td>
            <td th:text="${location.name}"></td>

            <td>
                <form action="#" th:action="@{'/api/favoriteLocation/{id}'(id=${location.id})}" th:method="put">
                    <input type="hidden" name="_method" value="PUT"/>
                    <button type="submit" id="submitButton"> ADD</button>
                </form>
            </td>
            <td>
                <form action="#" th:action="@{'/api/favoriteLocation/{id}'(id=${location.id})}" th:method="delete">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <button type="submit" id="submitButton"> Remove</button>
                </form>
            </td>
        </tr>
    </table>
</div>

<h2> Results </h2>>
<div class="form-group col-md-8">
    <table>
        <tr>
            <th>Name</th>
            <th>Name</th>
        </tr>
        <tr th:each="series: ${report.getSeries()}">
            <td th:text="${series.getKey()}"/>
            <td th:text="${series.findValueRange()}"/>
        </tr>
    </table>
</div>

</body>
</html>
</html>